# INSTRUCTIONS

Read the instructions metioned below carefully before attempting the assignment:

    - This assignment has 12 questions and all the questions are mandatory.
    - Read the desciption of the dataset mentioned below carefully.
    - Each question has been commented and written in an independent cell.
    - Write your code in the cell just below the question (Refer Ques-1 - It has been solved for you to understand)
    - Try to submit the assignment within the deadline.
    - Plagiarism will have a huge penality.
    - After completing the assignment upload this notebook to your github and submit the assignment on Google Classroom.
    
    
##### Download the Dataset file(.csv) from here:

https://drive.google.com/file/d/146KzhkfeuzDigbOjaZ1nkTpAHzp7TATz/view?usp=sharing


# COVID19 India dataset

### Description

Title of dataset: covid19india.csv

Sources:

    * A crowdsourced initiative - covid19india.org
    * Date received - 19/07/2020 
    
Number of Instances/Rows

    * Total Number of Rows = 381

Number of Attributes/Fearures/Columns

    * 2 Object, 39 Numerical attributes. 

Attribute Information/Fearures/Columns

    * date: Object Type
    * Status: Confirmed, Recovered, Deceased
    * Below mentioned are remaining 38 columns representing States and UT of India
    
    State 
    Maharashtra, Tamil Nadu, Delhi, Gujarat, Karnataka, Uttar Pradesh, Telangana, Andhra Pradesh, West Bengal, Rajasthan, Haryana, Bihar, Madhya Pradesh, Assam, Odisha, Jammu and Kashmir, Punjab, Kerala, Chhattisgarh, Jharkhand, Uttarakhand, Goa, State Unassigned, Tripura, Manipur, Puducherry, Himachal Pradesh, Ladakh, Nagaland, Chandigarh, Dadra and Nagar Haveli and Daman and Diu, Arunachal Pradesh, Meghalaya, Mizoram, Andaman and Nicobar Islands, Sikkim, Lakshadweep                       
    
    State_code
    MH, TN, DL, GJ, KA, UP, TG, AP, WB, RJ, HR, BR, MP, AS, OR, JK, PB, KL, CT, JH, UT, GA, UN, TR, MN, PY, HP, LA, NL, CH, DN, AR, ML, MZ, AN, SK, LD

In [12]:
# Q1 - Import the required Library (Sample question and answer)

import numpy as np
import pandas as pd

In [13]:
# Q2 - Read the csv file to the pandas dataframe

data = pd.read_csv("covid19india.csv")

In [14]:
# Q3 - Display the top 5 rows of the dataframe
print(data.head(5))

        date     status  an  ap  ar  as  br  ch  ct  dd  ...  py  rj  sk  tg  \
0  14-Mar-20  Confirmed   0   1   0   0   0   0   0   0  ...   0   3   0   1
1  14-Mar-20  Recovered   0   0   0   0   0   0   0   0  ...   0   1   0   0
2  14-Mar-20   Deceased   0   0   0   0   0   0   0   0  ...   0   0   0   0
3  15-Mar-20  Confirmed   0   0   0   0   0   0   0   0  ...   0   1   0   2
4  15-Mar-20  Recovered   0   0   0   0   0   0   0   0  ...   0   2   0   1

   tn  tr  un  up  ut  wb
0   1   0   0  12   0   0
1   0   0   0   4   0   0
2   0   0   0   0   0   0
3   0   0   0   1   0   0
4   0   0   0   0   0   0

[5 rows x 40 columns]

In [15]:
# Q4 - Display the bottom 5 rows of the dataframe

print(data.tail(5))

          date     status  an    ap  ar    as    br  ch   ct  dd  ...  py  \
376  17-Jul-20  Recovered   0   905  22   551   896   4   61   0  ...  67
377  17-Jul-20   Deceased   0    42   0     1     6   0    3   0  ...   3
378  18-Jul-20  Confirmed   0  3963  41  1117  1667  31  243   0  ...  58
379  18-Jul-20  Recovered   0  1465  99  1060   774   5  146   0  ...  48
380  18-Jul-20   Deceased   0    52   0     2     4   1    0   0  ...   3

      rj  sk    tg    tn   tr   un    up   ut    wb
376  656   1  1410  3391   47    0   959   26   838
377    8   0     7    79    0    0    38    1    26
378  711  19  1284  4807  171 -368  1873  174  2198
379  518   2  1902  3049   51    0  1030   60  1286
380    7   0     6    88    2    0    24    1    27

[5 rows x 40 columns]

In [16]:
# Q5 - How many columns and rows are there in the dataframe?

print("Rows:",data.shape[0],"\nColumns:",data.shape[1])

Rows: 381
Columns: 40

In [17]:
# Q6 - Display a breif overview of all the columns data type and missing values?

print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 40 columns):
date      381 non-null object
status    381 non-null object
an        381 non-null int64
ap        381 non-null int64
ar        381 non-null int64
as        381 non-null int64
br        381 non-null int64
ch        381 non-null int64
ct        381 non-null int64
dd        381 non-null int64
dl        381 non-null int64
dn        381 non-null int64
ga        381 non-null int64
gj        381 non-null int64
hp        381 non-null int64
hr        381 non-null int64
jh        381 non-null int64
jk        381 non-null int64
ka        381 non-null int64
kl        381 non-null int64
la        381 non-null int64
ld        381 non-null int64
mh        381 non-null int64
ml        381 non-null int64
mn        381 non-null int64
mp        381 non-null int64
mz        381 non-null int64
nl        381 non-null int64
or        381 non-null int64
pb        381 non-null int64
py        381 non-null int64
rj        381 non-null int64
sk        381 non-null int64
tg        381 non-null int64
tn        381 non-null int64
tr        381 non-null int64
un        381 non-null int64
up        381 non-null int64
ut        381 non-null int64
wb        381 non-null int64
dtypes: int64(38), object(2)
memory usage: 119.1+ KB
None

In [18]:
# Q7 - Display the descriptive statistical analysis on numerical columns of the dataframe?

print(data.describe())

               an           ap          ar           as           br  \
count  381.000000   381.000000  381.000000   381.000000   381.000000
mean     0.821522   175.742782    2.433071   100.007874   107.388451
std      2.422408   436.279518    9.113256   219.505910   235.197288
min      0.000000     0.000000    0.000000    -1.000000     0.000000
25%      0.000000     1.000000    0.000000     0.000000     0.000000
50%      0.000000    25.000000    0.000000     0.000000     5.000000
75%      0.000000    97.000000    0.000000    79.000000   146.000000
max     20.000000  3963.000000   99.000000  1218.000000  1742.000000

              ch          ct     dd           dl          dn  ...          py  \
count  381.00000  381.000000  381.0   381.000000  381.000000  ...  381.000000
mean     3.11811   23.433071    0.0   594.364829    2.868766  ...    7.826772
std      7.27101   44.647613    0.0  1027.573886    7.553918  ...   18.879296
min      0.00000    0.000000    0.0     0.000000    0.000000  ...    0.000000
25%      0.00000    0.000000    0.0     4.000000    0.000000  ...    0.000000
50%      0.00000    0.000000    0.0    67.000000    0.000000  ...    0.000000
75%      4.00000   28.000000    0.0   504.000000    0.000000  ...    4.000000
max     79.00000  249.000000    0.0  7725.000000   50.000000  ...  147.000000

               rj          sk           tg           tn          tr  \
count  381.000000  381.000000   381.000000   381.000000  381.000000
mean   131.750656    0.989501   196.314961   740.086614   11.569554
std    169.953688    4.626570   443.763249  1263.481723   26.517988
min      0.000000   -1.000000     0.000000     0.000000   -2.000000
25%      4.000000    0.000000     2.000000     3.000000    0.000000
50%     42.000000    0.000000    10.000000    63.000000    0.000000
75%    236.000000    0.000000    72.000000   817.000000    8.000000
max    866.000000   50.000000  2078.000000  5106.000000  171.000000

                un           up          ut           wb
count   381.000000   381.000000  381.000000   381.000000
mean      0.427822   201.595801   19.446194   170.141732
std     204.755665   337.816167   36.746792   314.410201
min   -1295.000000     0.000000    0.000000   -19.000000
25%       0.000000     4.000000    0.000000     3.000000
50%       0.000000    30.000000    1.000000    18.000000
75%       0.000000   260.000000   25.000000   188.000000
max    1043.000000  2058.000000  216.000000  2198.000000

[8 rows x 38 columns]

In [19]:
# Q8 - What were the number of confirmed cases in Rajasthan on 1st July 2020?

print(data.loc[(data['date'] == '01-Jul-20') & (data['status'] == 'Confirmed'), ['date','status','rj']])

          date     status   rj
327  01-Jul-20  Confirmed  304

In [20]:
# Q9 - What is the number of Deceased cases on 18th July 2020?


print(data.loc[(data['date'] == '18-Jul-20') & (data['status'] == 'Deceased')].sum(axis=1).values)

[543]

In [21]:
# Q10 - Create a new column 'total'. Values in this column is supposed to contain the sum of corresponding row.

data['total'] = data.sum(axis=1)
print(data[['date','status','total']])

          date     status  total
0    14-Mar-20  Confirmed     81
1    14-Mar-20  Recovered      9
2    14-Mar-20   Deceased      2
3    15-Mar-20  Confirmed     27
4    15-Mar-20  Recovered      4
5    15-Mar-20   Deceased      0
6    16-Mar-20  Confirmed     15
7    16-Mar-20  Recovered      1
8    16-Mar-20   Deceased      0
9    17-Mar-20  Confirmed     11
10   17-Mar-20  Recovered      1
11   17-Mar-20   Deceased      1
12   18-Mar-20  Confirmed     37
13   18-Mar-20  Recovered      0
14   18-Mar-20   Deceased      0
15   19-Mar-20  Confirmed     27
16   19-Mar-20  Recovered      5
17   19-Mar-20   Deceased      1
18   20-Mar-20  Confirmed     58
19   20-Mar-20  Recovered      3
20   20-Mar-20   Deceased      0
21   21-Mar-20  Confirmed     78
22   21-Mar-20  Recovered      0
23   21-Mar-20   Deceased      0
24   22-Mar-20  Confirmed     67
25   22-Mar-20  Recovered      0
26   22-Mar-20   Deceased      3
27   23-Mar-20  Confirmed    102
28   23-Mar-20  Recovered     12
29   23-Mar-20   Deceased      2
..         ...        ...    ...
351  09-Jul-20  Confirmed  25790
352  09-Jul-20  Recovered  19408
353  09-Jul-20   Deceased    479
354  10-Jul-20  Confirmed  27762
355  10-Jul-20  Recovered  20289
356  10-Jul-20   Deceased    520
357  11-Jul-20  Confirmed  27757
358  11-Jul-20  Recovered  19981
359  11-Jul-20   Deceased    543
360  12-Jul-20  Confirmed  29106
361  12-Jul-20  Recovered  18198
362  12-Jul-20   Deceased    500
363  13-Jul-20  Confirmed  28178
364  13-Jul-20  Recovered  17683
365  13-Jul-20   Deceased    541
366  14-Jul-20  Confirmed  29917
367  14-Jul-20  Recovered  20977
368  14-Jul-20   Deceased    587
369  15-Jul-20  Confirmed  32607
370  15-Jul-20  Recovered  20646
371  15-Jul-20   Deceased    614
372  16-Jul-20  Confirmed  35468
373  16-Jul-20  Recovered  22867
374  16-Jul-20   Deceased    680
375  17-Jul-20  Confirmed  34820
376  17-Jul-20  Recovered  17476
377  17-Jul-20   Deceased    676
378  18-Jul-20  Confirmed  37407
379  18-Jul-20  Recovered  23552
380  18-Jul-20   Deceased    543

[381 rows x 3 columns]

In [22]:
# Q11 - Group by on 'Status' column and display first.

data_grouped = data.groupby('status')
print(data_grouped.first())

                date  an  ap  ar  as  br  ch  ct  dd  dl  ...  rj  sk  tg  tn  \
status                                                    ...
Confirmed  14-Mar-20   0   1   0   0   0   0   0   0   7  ...   3   0   1   1
Deceased   14-Mar-20   0   0   0   0   0   0   0   0   1  ...   0   0   0   0
Recovered  14-Mar-20   0   0   0   0   0   0   0   0   1  ...   1   0   0   0

           tr  un  up  ut  wb  total
status
Confirmed   0   0  12   0   0     81
Deceased    0   0   0   0   0      2
Recovered   0   0   4   0   0      9

[3 rows x 40 columns]

In [23]:
# Q12 - Display the overall basic statistical analysis of Rajasthan for different status
# (confirmed, recovered and deceased)

print(data_grouped['rj'].describe())

           count        mean         std  min   25%    50%    75%    max
status
Confirmed  127.0  224.409449  191.507858  0.0  76.5  210.0  304.5  866.0
Deceased   127.0    4.354331    3.680768  0.0   1.0    4.0    7.0   17.0
Recovered  127.0  166.488189  155.543383  0.0  17.0  126.0  276.0  656.0